body {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* Start Header Section  */
/* Stat nav bar  */

.navbar {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.8);
}

.navbar-brand span {
    font-size: 20px;
    letter-spacing: 1px;
}

.line_ones,.line_twos {
    width: 20px;
    height: 2px;

    margin: 5px;

    transition: all 0.5s;
}

.crossxs .line_ones {
    transform: rotate(45deg) translate(2px, 2px);
}

.crossxs .line_twos {
    transform: rotate(-45deg) translate(2px, -2px);
}

.item-links a:hover {
    border-bottom: 1px solid #000;
}

@media (max-width: 1400px) {
    
    .item-links a:hover {
        border-bottom: none;
    }
}
/* End nav bar  */
/* End Header Section  */

/* Start Corusel Section  */

.carousel {
    border-radius: 30px;

    box-shadow: 3px 3px 10px rgba(0,0,0, 0.3);
}

.carousel ul li {
    list-style: none;

    color: #000;
}

@media (min-width:576px) and (max-width:992px) {

    .carousel img {
        width: 300px;
    }
    
}

/* End Corusel Section  */

/* Start P-50 Section  */

.p50Sections {
    border-radius: 30px;
}

.p50Infos {
    width: 400px;
    height: auto;

    margin: auto;
}

.p50Infos small{
    display: block;
}

.elephants {
    position: relative;
}

.elephants img {
    margin: 0px 30px;

    border-radius: 0px 30px 30px 0px;
}

.p50Images {
    width: 300px;
    height: auto;

    position: absolute;
    left: 0;
    top: 50%;

    transform: translate(-50%,-50%);
}

@media (max-width: 992px) {

    .elephant-ones {
        display: none;
    }
    
    .p50Infos {
        width: 245px;
        height: auto;

        margin-left: 30px;
    }

    .elephants {
        position: relative;
    }
    
    .p50Images {
        width: 200px;
        height: auto;
        position: relative;
        left: 25%;
    }
}

/* End P-50 Section  */

/* Start P-50 Pocket Section  */

.pocketSections {
    border-radius: 30px;
}

.snowhomes {
    position: relative;
}

.snowhomes img {
    border-radius: 30px 0px 0px 30px;
}

img.p50PocketImages {
    width: 300px;
    height: auto;

    position: absolute;
    left: 100%;
    top: 50%;

    transform: translate(-70%, -50%);
}

.pocketInfos {
    width: 300px;
    height: auto;

    margin: 0px 30px;
}

.pocketInfos small {
    display: block;
}

@media (max-width: 992px) {

    .snowhomesOnes {
        display: none;
    }

    .pocketInfos {
        width: 250px;
        height: auto;
        margin-left: 20px;

        position: relative;
        left: 25%;

        transform: translate(-50%);
    }

    .snowhomes {
        width: 250px;

        position: relative;
    }

    .snowhomes img.p50PocketImages {
        width: 200px;
        height: auto;

        position: relative;
        left: 75%;
    }
}

/* End P-50 Pocket Section  */

/* Start HUAWEI Watch Fit 2 Section  */

.watchfitSections {
    border-radius: 30px;
}

.watchfitInfos{
    width: 300px;
    height: auto;
}

.watchfitInfos small {
    display: block;
}

.watchfitImages {
    position: relative;
}

.watchfitImages img {
    height: 100%;
    border-radius: 0px 30px 30px 0px;
}

.watchfitTwos{
    width: 300px;
    height: auto;

    position: absolute;
    left: -20%;
    top: 10%;
}

@media (max-width: 992px) {

    .watchfitOnes {
        display: none;
    }

    .watchfitImages {
        position: relative;
    }

    .watchfitTwos {
        width: 200px;
        height: auto;

        position: relative;
        left: 10%;
    }

    .watchfitInfos {
        width: 245px;
        height: auto;

        margin-left: 30px;
    }

}

/* End HAWEI Watch Fit 2 Section  */

/* Start Smart Phone Section  */

.advProducts {
    border-radius: 30px;
}

.advProductImages img {
    border-radius: 30px 0px 0px 30px;
}

.advProductTexts {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advProductTexts div p {
    font-size: 30px;
}

.advProductTexts div button {
    font-size: 13px;

    padding: 10px 20px;

    transition: background-color 0.3s;
}

.advProductTexts div button:hover{
    background-color: rgba(0,0,0, 0.7);
}

@media (max-width: 992px) {
    .advProductImages img {
        border-radius: 30px 30px 0px 0px;
    }

    .advProductTexts {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .advProductTexts div button{
        margin-bottom: 30px;
    }

}

/* End Smart Phone Section  */

/* Start Smart Phone Product Section  */

.card {
    border-radius: 30px;
    border: none;
}

.bigCards {
    width: 40%;
}

/* Start Card Images  */

.CardImages {
    margin: 65px 0px;
}

@media (max-width: 992px) {

    .CardImages img {
        width: 250px;
        height: auto;
    }
    
}

/* End Card Images  */

.itemSpecifications {
    font-size: 13px;
}

.itemSectionLinks a {
    text-decoration: none;

    margin-bottom: 50px;

    display: inline-block;
}

.itemSectionLinks a:hover {
    color: #000000;
    opacity: 0.8;
}

.itemSectionLinks a i {
    transition: all 0.5s;
}

.itemSectionLinks a:hover i{
    transform: translateX(5px);
}

/* End Smart Phone Product Section  */

/*Start PC Section */

.sectionTops {
    margin-top: 150px;
}

/*End PC Section */

/* Start Huawei Start Office And Emui 10.1  */

.officeEmuiSections {
    border-radius: 30px;
}

.smartOffices img {

    border-radius: 30px 30px 0px 0px;

}

.emuis img {

    border-radius: 30px 30px 0px 0px;

}

.aboutOfficeEmuis button {
    padding: 10px 15px;

    border: none;

    color: #ffffff;
    font-size: 13px;
    font-weight: bold;

    background-color: #000;

    border-radius: 30px;

    transition: background-color 0.8s;
}

.aboutOfficeEmuis button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {

    .smartOffices img {
        border-radius: 30px;
    }

    .emuis img {
        border-radius: 30px;
    }
}

/* End Huawei Start Office And Emui 10.1  */

/* Start Our Services Section  */

.serviceSections {
    border-radius: 30px;
}

.serviceTexts a {
    text-decoration: none;
}

/* End Our Services Section  */

/* Start Footer  */

.footerLinks li a {
    line-height: 2;
    font-size: 14px;
}

.footerLinks li a:hover {
    color: #000000;
}

.fa-facebook,.fa-youtube {
    color: grey;
}

.fbLinks i:hover {
    color: #000;
}

.ytLinks i:hover {
    color: #000;
}

.copyRights {
    width: 300px;
}

.copyRightLinks a:hover {
    color: #000;
}

.globalLinks a:hover {
    color: black;
}

/* End Footer  */

/*Start Learn More and Buy Button*/

.learnMoreBtns {
    padding: 10px 20px;

    border: none;

    color: #ffffff;
    font-size: 13px;
    font-weight: bold;

    background-color: #000000;

    border-radius: 30px;

    transition: all 0.5s;
}

.learnMoreBtns:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.angleRights {
    transition: all 0.5s;
}

.learnMoreBtns:hover .angleRights {
    transform: translateX(5px);
}

.buyBtns {
    color: #000000;
    font-size: 13px;
    font-weight: bold;

    border: 1px solid silver;
    border-radius: 30px;

    padding: 10px 20px;

    transition: all 0.5s;
}

.buyBtns:hover {
    border-color: #000000;
}

.buyBtns:hover .angleRights {
    transform: translateX(5px);
}

@media (max-width: 992px) {
    
    .learnMoreBtns {
        margin-bottom: 30px;
    }

}

/*End Learn More and Buy Button*/

/* Start Background Color  */

.bgColors {
    background-color: #f4f4f4;
}

.bgDarks {
    background-color: #000000;
}

/* End Background Color  */

/* Start Text Grey */

.textgreys {
    color: grey;
}

/* End Text Grey  */

/* Start Text Dark  */

.textdarks {
    color: black;
}

/* End Text Dark  */

/* Start Border Color */

.borderColors {
    border-color: #000000;
}

/* End Border Color  */